body{
float:center;
background-image: url("images/sky.mp4");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
picture{
position:relative;
float: center;	
}

a {
color: #2e1c6d;
}
a:hover {
color: #163b16;
}

section{
float: center;
text-align: center;
}

 header {
margin: auto;
height:120px;
border-style:solid;
text-align:center;
margin-bottom:10px;
background-color: grey;
opacity: .8;
padding-bottom: 10px;
width: 40%;
height: 50%;
position:relative;

}

div{
float: center;
margin: auto;
/*background-color: #aec4e4;*/
background-color: grey;
opacity: .8;
text-align: center;
width: 600px;
border-style: solid;
border-radius: 5px; 
}
