body{
float:center;
background-color:#3E4557;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
font-family:Bradley Hand, cursive;
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
picture{
position:relative;
float: center;	
}

a {
color: #2e1c6d;
}
a:hover {
color: #163b16;
}

section{
float: center;
text-align: center;
}

 header {
margin: auto;
margin-left: 40px;
float: left;
height:120px;
border-style:solid;
text-align:center;
background-color:grey;
background: rgba(197,211,250, .7);
padding-bottom: 10px;
border-radius: 5px; 
width: 25%;
height: 50%;

}

div{

float: right;
margin: auto;
padding-right: 60px;
margin-right: 70px;
/*background-color: #aec4e4;*/
background-color:grey;
background: rgba(197,211,250, .7);
text-align: center;
width: 60%;
border-style: solid;
border-radius: 5px; 
}


